body {
  font-family: 'Calibri', Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #000000;
  line-height: 1.6;
  background-color: rgb(130, 144, 172);
  height: 100vh;
  background: linear-gradient(to right, rgb(155, 163, 180) 0%, rgb(130, 144, 172) 15%, rgb(130, 144, 172) 85%, rgb(155, 163, 180) 100%);
  width: 900px;
  padding-top: 50px;
  align-items: center;
}

.page-container {
  width: 600px;
  margin-left: 500px;
  align-self: center;
  align-items: center;
}

header {
  width: auto;
  padding: 0;
  margin-top: 0;
  margin-left: 700px;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

nav ul li {
  margin: 0 100px;
}

nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 30px;
}

nav ul li a:hover {
  color: #ff2929;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
}


.big {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

.small {
  font-size: 1.5em;
}

p {
  margin-bottom: 1em;
  font-weight: 400;
}

.vega-embed {
  width: 100%;
  height: 100%;
}

#Location1 {
  width: 450px;
  height: 500px;
  padding: 20px;
  margin-left: 50px;
}

#Location2 {
  width: 450px;
  height: 500px;
  padding: 20px;
  margin-left: 50px;
}

#Location3 {
  width: 700px;
  height: 400px;
  margin-top: 20px;
  margin-left: 450px;
}

#Location4 {
  width: 700px;
  height: 400px;
  margin-top: 50px;
  margin-left: 450px;
}

#Location5 {
  width: 500px;
  height: 500px;
  padding: 20px;
  margin-left: 50px;
}

#Location6 {
  width: 500px;
  height: 500px;
  margin-left: 50px;
}

#Location7 {
  width: 500px;
  height: 500px;
  margin-left: 25px;
}

#Location8 {
  width: 500px;
  height: 500px;
  margin-left: 50px;
}

#Location9 {
  width: 450px;
  height: 550px;
  margin-left: 50px;
}

#Location10 {
  width: 450px;
  height: 550px;
  margin-left: 50px;
}

#Location11 {
  width: 500px;
  height: 500px;
  margin-left: 25px;
}

#Location12 {
  width: 700px;
  height: 400px;
  margin-left: 450px;
}

#Location13 {
  width: 500px;
  height: 550px;
  padding: 30px;
  margin-left: 25px;
}

#Location14 {
  width: 450px;
  height: 550px;
  padding: 30px;
  margin-left: 50px;
}

#Location15 {
  width: 500px;
  height: 500px;
  padding: 30px;
  margin-left: 25px;
}

#Location16 {
  width: 450px;
  height: 625px;
  padding: 20px;
  margin-left: 50px;
}

figure {
  align-content: center;
  border-radius: 25px;
  overflow: hidden;
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 0 4px 8px rgba#ffffff;
  margin-left: 0;
}

section {
  margin-bottom: 2.5em;
}

a {
  color: #002c74;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  width: auto;
  height: auto;
  align-items: center;
  margin-top: 30px;
  margin-left: 50px;
  border-radius: 25px;
  overflow: hidden;
  background-color: #ffffff;
  padding: 40px;
  box-shadow: 0 4px 8px rgba#ffffff;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
  margin-left: 350px;
}

.grid-item {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
}


@media only screen and (max-width: 480px) {
  body {
    font-family: 'Calibri', Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #000000;
    line-height: 1.6;
    background-color: rgb(130, 144, 172);
    height: 100vh;
    background: linear-gradient(to right, rgb(155, 163, 180) 0%, rgb(130, 144, 172) 15%, rgb(130, 144, 172) 85%, rgb(155, 163, 180) 100%);
    width: 480px;
    padding-top: 50px;
  }
  
  .page-container {
    width: 400px;
    margin-left: 0;
    align-self: center;
  }
  
  header {
    padding: 0;
    margin-top: 0;
    margin-left: 0;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-right: 70px;
  }
  
  nav ul li {
    margin-right: 50px;
    margin-top: 0;
    margin-left: 0;
  }
  
  nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 14px;
  }
  
  nav ul li a:hover {
    color: #ff2929;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: black;
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
  }
  
  
  .big {
    font-size: 3em;
  }
  
  h2 {
    font-size: 2em;
  }
  
  .small {
    font-size: 1.5em;
  }
  
  p {
    margin-bottom: 1em;
    font-weight: 400;
  }
  
  #Location1 {
    width: 350px;
    height: 350px;
    padding: 20px;
  }
  
  #Location2 {
    width: 350px;
    height: 350px;
    padding: 20px;
  }
  
  #Location3 {
    width: 400px;
    height: 250px;
    margin-top: 20px;
    margin-left: 0;
  }
  
  #Location4 {
    width: 400px;
    height: 250px;
    margin-top: 50px;
    margin-left: 0;
  }
  
  #Location5 {
    width: 350px;
    height: 350px;
  }
  
  #Location6 {
    width: 350px;
    height: 350px;
  }
  
  #Location7 {
    width: 350px;
    height: 350px;
  }
  
  #Location8 {
    width: 350px;
    height: 350px;
  }
  
  #Location9 {
    width: 350px;
    height: 450px;
  }
  
  #Location10 {
    width: 350px;
    height: 450px;
  }
  
  #Location11 {
    width: 350px;
    height: 350px;
  }
  
  #Location12 {
    width: 400px;
    height: 250px;
  }
  
  #Location13 {
    width: 350px;
    height: 450px;
    padding: 30px;
  }
  
  #Location14 {
    width: 350px;
    height: 450px;
    padding: 30px;
  }
  
  #Location15 {
    width: 350px;
    height: 350px;
    padding: 30px;
  }
  
  #Location16 {
    width: 350px;
    height: 450px;
    padding: 20px;
    margin-left: 50px;
  }
  
  figure {
    align-content: center;
    border-radius: 25px;
    overflow: hidden;
    background-color: #ffffff;
    padding: 0;
    box-shadow: 0 4px 8px rgba#ffffff;
    margin-left: 0;
  }
  
  section {
    margin-bottom: 2.5em;
  }
  
  a {
    color: #002c74;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  img {
    width: 300px;
    height: 300px;
    align-items: center;
    margin-top: 30px;
    border-radius: 25px;
    overflow: hidden;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba#ffffff;
  }
  
  .grid-container {
    display: grid;
    columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding: 0;
    margin-left: 40px;
  }
  
  .grid-item {
    border: 1px solid #ccc;
    padding: 0;
    background-color: #f9f9f9;
    width: 300;
    height: 300;
  }

}